<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>CRUD PROVEEDORES INVENTARIO_MERCA_FACIL</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand"> PROVEEDORES INVENTARIO MERCA FACIL</a>
    </nav>

    <!-- HEADER-->


    <div class="container">
        <div class="row mt-5">
            <div class="col-md-7">
                <table class=" table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nit</th>
                            <th>Nombre</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
<% if (data) { %>
<% for (var i = 1; i< data.length; i++) { %>
    <tr>
        <td> <%= data[i].Prov_NIT %></td>
        <td> <%= data[i].Prov_Nombre %></td>
        <td> <%= data[i].Prov_Direccion %></td>
        <td> <%= data[i].Prov_Telefono %></td>
        <td>
            <a href="/delete/<%= data[i].Prov_NIT %>" class="btn btn-danger"> Borrar</a>
            <a href="/update/<%= data[i].Prov_NIT %>" class="btn btn-info"> Editar</a>
        </td>
    </tr>
    
<%}; %>
<%}; %>
                    </tbody>

                </table>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <form action="/add" method="post">
                            <div class="form-group">
                                <input type="text" name="Prov_NIT" placeholder="Nit del proveedor" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Prov_Nombre" placeholder="Nombre del proveedor"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Prov_Direccion" placeholder="Dirección del proveedor"
                                    class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="text" name="Prov_Telefono" placeholder="Telefono del proveedor"
                                    class="form-control">
                            </div>
                            <button type="submit" class="btn btn-primary">
                                Guardar Proveedor
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>










    <!-- FOOTER-->
</body>

</html>